<!DOCTYPE html>
<html lang="pt" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="estilo.css">
        <title></title>
    </head>
    <body>
        <h2>Excluir Cliente por CPF</h2>
        <form action="..\Controller\ExcluirCliente.php" method="post">
            CPF: <input type="text" name="cpf" placeholder="Entre com o seu CPF"><br><br>
            <input type="submit" value="Enviar">
            <input type="reset" value="Limpar">
        </form>
    </body>
</html>
