<!DOCTYPE html>
<html lang="pt" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="../images/logo.png"/>
        <title>Área de Consulta</title>
    </head>
    <body>
        <h1 class="cabecalho">Gerenciador JLS</h1>
        <h2>Área de Consulta</h2>
        <li><a href="ConsultarCliente.html">Cliente</a></li>
        <li><a href="ConsultarInquilino.html">Inquilino</a></li>
        <li><a href="ConsultarProprietario.html">Proprietário</a></li>
        <li><a href="ConsultarFuncionario.html">Funcionário</a></li>
        <li><a href="ConsultarImovel.html">Imóvel</a></li>
    </body>
</html>
