<!DOCTYPE html>
<html lang="pt" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="#">
        <title>Área de Login</title>
    </head>
    <body>
        <h1 class="cabecalho">Gerenciador JLS</h1>
        <h2>Área de login</h2>
        <li><a href="LoginCliente.html">Cliente</a></li>
        <li><a href="LoginInquilino.html">Inquilino</a></li>
        <li><a href="LoginProprietario.html">Proprietário</a></li>
        <li><a href="LoginAdministrador.html">Administrador</a></li>
    </body>
</html>
