<!DOCTYPE html>
<html lang="pt" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="#">
        <title>Área de Cadastro</title>
    </head>
    <body>
        <h1 class="cabecalho">Gerenciador JLS</h1>
        <h2>Área de Cadastro</h2>
        <li><a href="CadastrarCliente.html">Cliente</a></li>
        <li><a href="CadastrarInquilino.html">Inquilino</a></li>
        <li><a href="CadastrarProprietario.html">Proprietário</a></li>
        <li><a href="CadastrarFuncionario.html">Funcionário</a></li>
        <li><a href="CadastrarImovel.html">Imóvel</a></li>
    </body>
</html>
