<!DOCTYPE html>
<html lang="pt" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="../images/logo.png"/>
        <title>Atualização de Aluguel</title>
    </head>
    <body>
        <h2>Atualização de Aluguel</h2>
        <form action="..\controller\AtualizarAluguel.php" method="post">
            CPF: <input type="text" name="cpf" placeholder="Entre com o CPF do inquilino"><br><br>
            Novo Aluguel: <input type="text" name="novoAluguel" placeholder="Entre com o novo aluguel"><br><br>
            <input type="submit" value="Enviar">
            <input type="reset" value="Limpar">
        </form>
    </body>
</html>
