<!DOCTYPE html>
<html lang="pt" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="../images/logo.png"/>
        <title>Consulta de Cliente</title>
    </head>
    <body>
        <h2>Consulta de Cliente por CPF</h2>
        <form action="..\controller\ConsultarCliente.php" method="post">
            CPF: <input type="text" name="cpf" placeholder="Entre com o seu CPF"><br><br>
            <input type="submit" value="Enviar">
            <input type="reset" value="Limpar">
        </form>
    </body>
</html>
